


.headerWrapperStyles {
  border: "1px solid";
  padding: "0 5px 0 5px";
}
.titleWrapperStyles  {
  padding: "1px 15px 1px 15px";
  font-size: "2.15em";
  font-weight: "bold";
  color: "#e9b901";
}
.checkboxLabelStyles {
  color: '#cacaca';
}
.rowStyles {
  padding-top: "11px";
  border-bottom: "1px solid #353535";
}
.bottomStyles {
  position: "absolute";
  bottom: "0";
  height: "7%";
  width: "100%";
}
.addButtonLabelStyles {
  color: "#e9b901";
  float: "right";
  margin-right: "240px";
  margin-top: "14px";
}